<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/pricelist.css">
</head>
<body>
   <div class="container">
    <h2>Choose your plan</h2>
    <div class="price-row">
      <div class="price-col">
        <p>Course Counseling</p>
        <!-- <h3>299 rupee<span>/month</span></h3> -->
        <h3>299 rupee</h3>
        <ul>
          <li>1:1 Video Connect</li>
          <li>Course Guidence</li>
          <li>College Admission</li>
          <li>Student Thoughts Solve</li>
          <li>Scholership Base Admission</li>
          <li class="nonvisible">College Guidence</li>
          <li  class="nonvisible">Students Thoughts Solve</li>
          <li class="nonvisible">College Guidence</li>
          <!-- <li>Lorem ipsum dolor </li>         -->
        </ul>
        <a href="https://forms.gle/Gj3VNBgq17waFMGv5" ><button>Buy Now</button></a>
      </div>
      <div class="price-col">
        <p>Admission Support</p>
        <!-- <h3>19$ <span>/month</span></h3> -->
        <h3>799 rupee</h3>
        <ul>
          <li>1:1 Video Connect</li>
          <li>MPDTE Counseling</li>
          <li>E-Pravesh Counseling</li>
          <li>Course Guidence</li>
          <li>College Guidence</li>
          <li>Students Thoughts Solve</li>
          <li class="nonvisible">College Guidence</li>
          <li  class="nonvisible">Students Thoughts Solve</li>
        </ul>
        <a href="https://forms.gle/Gj3VNBgq17waFMGv5" ><button>Buy Now</button></a>
      </div>
      <div class="price-col">
        <p>Premium</p>
        <!-- <h3>19$ <span>/month</span></h3> -->
        <h3>1399 rupee</h3>
        <ul>
          <li>1:1 Video Connect</li>
          <li>College Admission</li>
          <li>MPDTE Counseling</li>
          <li>E-Pravesh Counseling</li>
          <li>Career Guidence</li>
          <li>Check college reality</li>
          <li>Expert Connect</li>
          <li>College Alumni Session</li>
        </ul>
        <a href="https://forms.gle/Gj3VNBgq17waFMGv5" ><button>Buy Now</button></a>
      </div>
    </div>
   </div>
</body>
</html>